body {
    background-image: url("http://i.imgur.com/slKqCkB.jpg");
    color: white;
    font-family: "Open sans", "sans-serif";
    font-weight: 300;
}

h1, h2 {
    font-family: "Crimson text", "serif";
    font-weight: 400;
}

h4 {
    font-weight: 300;
}

.facts {
    font-size: 1.2em;
}

.flashes {
    color: red;
    font-weight: bold;
    font-size: 1.3em;
    text-shadow: 1px 1px 5px black;
}

.distance {
    font-weight: bold;
    color: #22c122;
    text-shadow: 1px 1px 5px black;
}

.total_distance {
    font-weight: bold;
    color: deepskyblue;
    text-shadow: 1px 1px 5px black;
}

input {
    color: black;
}

label {
    font-weight: 300;
}
