{% extends "base.html" %}

{% block error %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}

{% block home %}
    {% if facts is defined %}
        <div class="facts">
            <hr>
            <br>
            {% for fact in facts %}
                <p class="lead">{{ fact }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block data %}
    <h1>Discover your galactic mileage</h1>
    <h2>Enter your birthdate</h2>
    <br>
    <form action="" method="post" name="get-date">
        {{ form.birth_date(class_="form-control", id="birth-date", placeholder="Enter your full birthdate - e.g. May 20, 1991") }}

    </form>
{% endblock %}